@import "compass/css3";

@import "adminBase";

body > .header .logo {
    font-family: 'Raleway', sans-serif;
}

.toolbar{
    margin-left: 10px;
}

ul.actions{
    padding: 0;

    li{
        float: left;
        list-style: none;
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }
    }
}

ul.record_actions{
    padding: 0;

    li{
        float: left;
        list-style: none;
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.flash-message{
    position: absolute;
    width: 70%;
    left: 50%;
    margin-left: -35%;
    margin-top: 25px;
    z-index: 10000;
}